/* :root {
  --main-bg-color: #00259d;
  --main-text-color: #5a7e71;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
} */

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-color: #0139759f;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}
.ACform{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}
.ACbutton{
  text-align: center;
  margin-top: 30px;
}
.ACform input{
border-style: none;
border-bottom: 2px solid #00189d;
padding: 8px;
border-radius: 5px;
}
.Rayonform{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}
.rayonbutton{
  text-align: center;
  margin-top: 30px;
}
.Rayonform input{
border-style: none;
border-bottom: 2px solid #00189d;
padding: 8px;
border-radius: 5px;
}
.updatebtndiv{
  text-align: center;
}

.promotionform{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}
.rayonbutton{
  text-align: center;
  margin-top: 30px;
}
.promotionform input{
border-style: none;
border-bottom: 2px solid #00189d;
padding: 8px;
border-radius: 5px;
}
.promotionbutton{
  text-align: center;
  margin-top: 30px;
}
@media (min-width: 768px) {
  
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
