<%- include('partials/head') %>



<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">Marjan Promotions</div>
            <div class="list-group list-group-flush my-3">
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                        class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
                
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-chart-line me-2"></i>graphes</a>
                <a href="/admincenterdashboard" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-paperclip me-2"></i>Admin centre</a>
               
                <a href="promotiondash" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-gift me-2"></i>Promotions</a>
               
                <a onclick="logout()" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                        class="fas fa-power-off me-2"></i>Logout</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            

            <div class="container-fluid px-4">
               
                <form class="ac-form">
                    <div class="ACform">
                        <div>
                            <input name="firstName" class="firstName" type="text" placeholder="prenom">
                        </div>
                        <div>
                            <input name="lastName" class="lastName" id type="text" placeholder="nom">
                        </div>
                        <div>
                            <input name="email" class="email" type="text" placeholder="email">
                            <input type="hidden" name="id" id="id" >
                        </div>
                        <div>
                            <input name="password" class="password" type="text" placeholder="mot de passe">
                        </div>
                        
                    </div>
                    <div class='ACbutton'>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                   
                </form>
                <div class="updatebtndiv">
                    <button type="submit" onclick="update()" class="btn updatebtn btn-primary">mettre a jour</button>
                </div>
                

                <div class="row my-5">
                    <h3 class="fs-4 mb-3">les Admin du centre</h3>
                    <div class="col">
                        <table class="table bg-white rounded shadow-sm  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Prenom</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">email</th>
                                    <th scope="col">Mot de passe</th>
                                    <th scope="col">Action</th>
                                
                                </tr>
                            </thead>
                            <tbody id="ACdata">
                                
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var el = document.getElementById("wrapper");
        var toggleButton = document.getElementById("menu-toggle");

        toggleButton.onclick = function () {
            el.classList.toggle("toggled");
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="../public/admincenter.js"></script>
    <script src="../public/auth/adminauth.js"></script>
</body>

</html>