<%- include('partials/head') %>
<body>
    <section class="firstpage" >
        
        <div class="landingimage">
            <img src="../public/9marjane.jpg" alt="marjane logo">
        </div>
        <div class="button">
            <a href="/loginform"><h3>CONNECTEZ-VOUS</h3></a>
        </div>
    </section>
</body>