
<%- include('partials/head') %>

<div class="wrapper">
    <div class="form-signin">       
      <h2 class="form-signin-heading">Connectez-vous</h2>
      <input type="text" class="form-control username" name="username" placeholder="username" required="" autofocus="" />
      <input type="password" class="form-control password" name="password" placeholder="Password" required=""/>      
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button onclick="login()" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="../public/auth/adminauth.js"></script>